   body
        {
            background-color:#F5B7B1 ;
        }
        #imageshift
        {

            position:relative;
            width:240px;
            height:240px;

        }
        .image-radius
        {
            border-radius:10px;
             box-shadow:4px 4px 10px #5F6A6A;

        }

        #dark
        {
             background: rgba(33, 47, 61, 0.7);
            height:2000px;
              box-shadow:4px 4px 30px #5F6A6A;


        }
         #heading
        {
           background-color:#EC7063  ;
            color:#212F3C  ;
            width:450px;
            margin:0 auto;
            font-family: 'Poppins', sans-serif;
            padding:10px;
            border-radius:17px;
            letter-spacing:2px;
            text-align:center;
            box-shadow:4px 4px 10px #5F6A6A;



        }
        span
        {

          position:relative;
          top:-15px;

        }
        .button
        {

            height:136px;
        }
        #end
        {
            width:200px;
            height:100px;
            font-size:200%;
            font-family: 'Poppins', sans-serif;
            border-radius:20px;
            background-color: #212F3C ;
            color:white;
            transition:all 0.5s ease;
            outline:none;
            border:1px solid white;
            padding:10px;
            margin-left:10px;

        }

        #end:active
        {
            background-color:white ;
              width:200px;
            height:100px;
            color: #212F3C ;
             width:180px;
            height:80px;
            margin-top:5px;

        }
        #time
        {
              font-family: 'Poppins', sans-serif;
        }